%div
  %h1.text-center File Uploader and Converter
#new-image
  %h2{ style: "text-align: center;" } New Image
  = new_image_form
%div
  %h3 Images
  %table#image-table
    %tr
      %th Name
      %th Progress
      %th Status
    - @images.each do |image|
      %tr{ id: "image-#{image.id}" }
        %td= link_to image.name, image_path(image)
        %td
          .progress.progress-striped
            .progress-text
              100%
            .bar{ style: "width: 100%;" }
        %td
          Complete
  -#%h3 Videos
  -#%table{align: "center", border: "1"}
  -#  %tr
  -#    %th Name
  -#    %th File
  -#    %th Created
  -#  - @videos.each do |video|
  -#    %tr
  -#      %td= "#{video.name}:"
  -#      %td= video.file
  -#      %td= video.created_at
  -#      %td= link_to "View", video_path(video)